@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

body, html {
			margin: 0;
			font-family: "Lato", sans-serif;
			font-size: 16px;
			color: #777;
			height: 100%;
		}

		footer {
			background-color: #383535;
			text-align: center;
			color: #f4eaea;
			text-decoration: none;
			padding: 10px;
		}

		footer a:hover{
			text-decoration: underline;
			color: #f4eaea;
		}

		.conteudo {
			color: #777;
			background-color: white;
			text-align: justify;
			padding: 50px 80px;
            border-radius: 5%;
		}

		h3 {
			text-transform: uppercase;
			color: #111;
			text-align: center;
		}

		.caixa {
			position: relative;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}

		.caixa1 {
			background-image: url(imagens/imagem1.jpg);
		}

		.caixa2 {
			background-image: url(imagens/imagem2.jpg);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.jpg);
		}

		.caixa4 {
			background-image: url(imagens/imagem4.jpg);
		}

		.conteudo-titulo {
			position: absolute;
			left: 0;
			top: 45%;
			width: 100%;
			text-align: center;
		}

		.conteudo-titulo span.titulo {
			color: #fff;
			background-color: #111;
			padding: 18px;
			font-size: 25px;
			letter-spacing: 5px;
		}
	